html {
  background-color: #CBCBCB;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #B5B5B5;
  color: #B5B5B5;
  padding: .05% 0;
  font-size: 1.5em;
  border: 0;
  height: 95px;
}

.navbar-brand {
  float: left;
  min-height: 40px;
  padding: 10px;
  padding-top: 22px;
}

.nav-item {
  padding: 30px;
  font-size: 1.2em;
  font-family: 'Vidaloka', serif;
  height: 95px;
  text
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #CBCBCB;
  padding-top: 20px;
}

.flex-container>div {
  color: black;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 250px;
  font-size: 30px;
  background-color: white;
}

#movie {
  border: 30px dotted #FAF9F6;
  background-color: #E9CB0E;
}

.d-inline-flex {
  background-color: #FAF9F6;
  width: 1200px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 300px;
}

li {
  display: inline-block;
  border-left: 1px solid maroon;
}

h1 {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #CBCBCB;
  font-family: 'Vidaloka', serif;
  font-size: 55px;
}

.carousel {
  background-color: #CBCBCB;
  height: 550px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#director {
  background-color: #CBCBCB;
}
#masks {
  background-color: #CBCBCB;
}

#content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.conn {
  background-color: #CBCBCB;
}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
